* {
    background-color: black;
    font-family: 'Roboto Slab', serif;
}
/*  Fix high score at the top of the page */
header {
    position: fixed;
    top: 0;
    left: 3%;
}



.high-score {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.high-score:hover {
    background-color: white;
    color: black;
}

.high-score:focus {
    background-color: white;
    color: black;
}

/* Title of game */
h1 {
    font-size: 3rem;
    text-align: center;
    color: purple;
}

/* Styling for the time section */
.time {
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    font-weight: bolder;
}

/* Game section styling */
.game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

button {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
}

button:hover {
    background-color: purple;
    color: white;
}

/* Removes bullet points from un ordered list  */
.game-choices ul li {
    list-style-type: none;
}

/* Background for answer choices */
.a,
.b,
.c,
.d {
    background-color: white;
    color: purple;
    font-weight: bold;
    margin: 10px;
    border: 5px solid black;
}

.a:hover,
.b:hover,
.c:hover,
.d:hover {
    background-color: purple;
    color: white;
}

.game-answer {
    font-weight: bolder;
    color: purple;
}
